.footer {
  display: flex;
  background: var(--bg);
  color: #fff;
  padding: 2rem 0;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  flex-shrink: 0;
  margin-top: 4rem;

}

.footer-content {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer__light {
  font-weight: lighter;
  color: #ff3a3a;
}

.footer__title {
  font-size: 1.5rem;
}

.footer__text {
  margin-top: 0.5rem;
  font-size: 0-6rem;
  color: #ccc;
  margin-right: 720px;
}

.footer-right {
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 20px;
  align-items: end;
  justify-content: flex-end;

}

.footer__author {
  color: #45eb64;
  font-weight: bold;
}

[data-theme="ligth"] .footer {
  background: linear-gradient(135deg, #f9f9f9, #f9f9f9);
  color: #213547;
}

[data-theme="ligth"] .footer__text {
  color: #555;
}

[data-theme="ligth"] .footer__author {
  color: #28a745;
}